<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title}</title>

    {stylesheetWidget}

</head>
<body>

{navbarWidget}

<div class="container-fluid">
    <div id="modal-success" class="alert alert-success" role="alert" style="display: none;">
        <strong>Done! </strong>
    </div>
    <div id="modal-error" class="alert alert-danger" role="alert" style="display: none;">
        <strong>Whoops... </strong>
    </div>
    <div class="content-wrapper">
        <div class="item-container">
            <div class="container">
                <div class="col-md-5">
                    <img id="item-display" src="{cover}" alt="{title}" class="img-responsive"/>
                </div>
                <div class="col-md-7 text-center">
                    <div class="product-title">{title}</div>
                    <div class="product-desc">{author/s}</div>
                    <hr>
                    <div class="product-stock">{availability}</div>
                    <hr>
                    <div class="row">
                        {publisher}
                    </div>
                    <div class="row">
                        {year}
                    </div>
                    <div class="row">{year}</div>
                    <div id="categories" class="row">{categories}</div>
                    <div class="row">{pageCount}</div>
                    <div class="row">{averageRating}</div>
                    <div class="row">{ratingsCount}</div>
                    {buttonComponent}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">
                    <li class="active"><a href="#service-one" data-toggle="tab">Synopsis</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">
                        <section class="container product-info">
                            {synopsis}
                        </section>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    {modalComponents}

</div>
</body>

{scriptWidget}

</html>