<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>

    {stylesheetWidget}

</head>
<body>

{navbarWidget}

<div class="container" style="margin-top:50px;">
    <h2 class="text-center">Catalogue manager</h2>
    <div class="row">
        <form action="index.php?controller=manager&action=newBook" method="post">
            <input type="hidden" name="manual">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Register a book manually</b></h3>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" id="category" name="category" class="form-control">
                </div>
                <div class="form-group">
                    <label for="isbn">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="availability">Availability</label>
                    <select name="availability" id="availability" class="form-control">
                        {availabilityWidget}
                    </select>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <select name="state" id="state" class="form-control">
                        {stateWidget}
                    </select>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <label for="cover">Cover</label>
                    <input type="text" id="cover" name="cover" class="form-control">
                </div>
            </div>
                <div class="col-xs-1">
                    <button type="submit" class="btn btn-default" style="margin-top: 24px;">Submit</button>
                </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <div class="panel-heading">
            <h3 class="panel-title"><b>Register a new Book (Google Books API)</b></h3>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label for="googleBooks">Enter ISBN</label>
                <input type="text" id="googleBooks" name="isbn" class="form-control">
                <button type="submit" id="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center">All books currently registered</h2>
        <br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Categories</th>
                    <th>State</th>
                    <th>Availability</th>
                    <th class="text-center">Actions</th>
                </tr>
                {bookManagerWidget}
            </table>
        </div>
    </div>
</div>

</body>

{scriptWidget}

</html>