<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site configuration</title>

    {stylesheetWidget}

</head>
<body>

{navbarWidget}

<div class="container">
    <div id="modal-success" class="alert alert-success" role="alert" style="display: none;">
        <strong>Done! </strong>
    </div>
    <div id="modal-error" class="alert alert-danger" role="alert" style="display: none;">
        <strong>Whoops... </strong>
    </div>
    <h1 class="text-centered">Site parameters</h1>
    <p>Configure your sites values and/or add new options.</p>
        {paramsWidget}
</div>

{scriptWidget}

</body>
</html>